<header class="top-bar">
    <div class="search-bar">
    </div>
    <div class="user-info">
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    </div>
  </header>