<form id="comment-form">
    <input
      type="text"
      id="commentName"
      name="commentName"
      placeholder="Your Name"
      required
      data-locale-placeholder="YourName"
    />
    <textarea
      id="comment"
      name="comment"
      placeholder="Write your reviews here"
      rows="4"
      required
      data-locale-placeholder="WriteYourReviewsHere"
    ></textarea>
    <button type="submit">
      <span  data-locale="PostComment">Post Comment</span> <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </form>